.flex-container3 {
  display: flex ;
}

.flex-container3> div {
  background-color: #f1f1f1;
  text-align: center;
  margin: 50px;
  padding: 50px;
  font-size: 20px;
}
.flex-container4 {
  display: flex;
  justify-content: center;
}

.flex-container4 > div {
  background-color: #f1f1f1;
  width: 300px;
  margin: 10px;
  text-align: center;
  line-height: 300px;
  font-size: 30px;
}
.flex-container5 {
  display: flex ;
}

.flex-container5> div {
  background-color: #f1f1f1;
  text-align: center;
  margin: 50px;
  padding: 50px;
  font-size: 20px;
}

